*{
    padding: 0%;
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box-1{
    text-align: center;
    height: 30px;
    background-color: plum;
    padding: 40px 10px;
    word-spacing: 30px;
}

a:link{
    text-decoration: none;
}

.con-1, h4{
    padding-top: 15px;
    color: blue;
    text-align: center;
}

h4{
    padding-right: 340px;
}


img{
    width: 500px;
    height: 350px;
    padding-top: 15px;
}

.box-3{
    padding-top: 30px;
    padding-right: 160px;
    text-align: center;
    /* padding: 200px ; */
}


.con-2{
    padding-top: 30px;
}







